@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');

body, tw-story
{
  font-family: 'Assistant', sans-serif;
  background-color: #555e54;
}
body
{
  background-color: #d6cf8d;
}


tw-link, .enchantment-link, .enchantment-mouseover
{
  font-family: 'Inconsolata', cursive;
  color: 	#e8e4ed;
}

.visited{
  color:#8eaebd;
}
.visited:hover{
  color:#4c7285;
}

tw-link:hover, .enchantment-link:hover{
  color:#4c7285;
}